@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('../img/flight.jpg');
            margin: 0;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4 font-italic">Welcome to Flight manager!</h1>
    <p>We hope you have a delightful day.</p>
</div>
